body {
    overflow-x: hidden;
}

.secondary-color {
    background-color: #e5cb82;
}

.dark-blue-color {
    color: #263159;
    font-weight: 0;
}

.location-info {
    background-color: #e4e4e4;
    width: 100vw;
    position: absolute;
    left: 0;
}
.office-image, .googlemaps-image{
    width: 25rem;
    
}
.office-image img, .googlemaps-image{
    max-width: 100%;
}
hr{
    padding: 0;
    margin: 0;   
    border: 7px solid #263159;
}
.location-row{
    margin: 0.5rem;
    border: 3px dotted #e5cb82;
}
.location-text{
    border-right: 2px solid #b5b7c1;
   
}
.location-text address{
    font-size: 1em;
}