.filter-option:nth-child(5){
    width: 10%;
}
.filter-option:nth-child(1){
    width: 15%;
}
.filter-option:nth-child(3){
    width: 30%;
}
.filter-option:nth-child(7){
    width: 25%;
}

@media (max-width: 1000px) {
    .filter-option:nth-child(3){
        grid-column: 2/4;
    }.filter-option:nth-child(5){
        border-bottom-left-radius: 100px;
        border-top-right-radius: 0;
        border: none;
        border-right: 1px solid var(--color-primary);
    }
    .filter-option:nth-child(7){
        grid-column: 2/3;
    }
    .filter-option:nth-child(7) select{
        width: 7em;
    }
    .filter-option:nth-child(9){
        grid-column: 3/4;
    }
    .filter-option:nth-child(9) select{
        width: 7em;
    }
}

@media(max-width: 530px){
    .delete-button{
        margin-bottom: 0.3em;
    }

    .filter-option label{
        font-size: 1em !important;
    }
    .filter-option  select{
        width: 90% !important;
        font-size: 1em !important;
    }

    .filter-box{
        display: flex !important;
        flex-direction: column !important;
        height: 30em;
    }
    .filter-option{
        padding: 1.28em !important;
        border: none !important;
        border-bottom: 1px solid var(--color-primary) !important;
    }
    .filter-option:first-child{
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    .filter-option:nth-child(7){
        border: none !important;
    }
    .filter-option:last-child{
        border-bottom: none !important;
        border-top-left-radius: 50px;
        border-top: 1px solid var(--color-primary) !important;

    }   
    .filter-option select, .filter-option input{
        width: 80%;
    }
}