.add-agents-box{
    width: 100%;
}

.add-agent-title{
    border-bottom: 3px solid var(--color-primary);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)), url("../img/scenery.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    padding: 2em 1em 1.5em 3.3em;
}

.add-agent-title h2{
    color: white;
    font-weight: 500;
}

.add-agent-button{
    border: none;
    border-radius: 20px;
    width: 7em;
    padding: 0.5em 1em 0.5em 1em;  
}
.add-agent-button:hover{
    background-color: rgb(186, 186, 186); 
}

.delete-button{
    background-color: rgb(227, 101, 101);
    margin-right: 1em;
}
.add-button{
    background-color: rgb(111, 208, 111);
}