.add-offer-box{
    width: 100%;
}

.add-offer-title{
    border-bottom: 3px solid var(--color-primary);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)), url("../img/scenery.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    padding: 2em 1em 1.5em 3.3em;
}

.add-offer-title h2{
    color: white;
    font-weight: 500;
}
.add-offer-button{
    border: none;
    border-radius: 20px;
    width: 7em;
    background-color: rgb(233, 227, 227);
    padding: 0.5em 1em 0.5em 1em;  
}
.add-offer-button:hover{
    background-color: rgb(186, 186, 186); 
}
.delete-button{
    margin-right: 1em;
}
.delete-button:hover{
    background-color: rgb(241, 133, 133);
}
.add-button:hover{
    background-color: rgb(111, 208, 111);
}

.add-offer-body form button{
    border: none;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
}
#image-upload-multiple{
    display: none;
}

.add-offer-image-container{
    grid-template-columns: repeat(3, 1fr);
    width: 50em;
    height: 20em;
    padding: 1em;
    border: 5px solid rgb(233, 227, 227);
    border-radius: 10px;
    overflow: scroll;
}

.image-box{
    /* background-color: red; */
    height: 10em;
    width: 15em;
    overflow: hidden;
    margin-bottom: 1em;
}
.image-box img{
    max-width: 100%;
    border-radius: 20px;
    /* border: 2px solid black; */
}
.image-box span{
    border-bottom-left-radius: 10px;
    color: rgb(130, 128, 128); 
    background-color: white;
}