@media (max-width: 1000px) {
    .filter-box{
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .filter-option:nth-child(5){
        border: none;
        border-bottom-left-radius: 90px;
    }
    .filter-option:nth-child(7){
        border-top-left-radius: 0;
        grid-row: 2/3;
        grid-column: 2/3;
        border-left: 1px solid var(--color-primary);
    }
}

@media (max-width: 530px) {
    .filter-option label{
        font-size: 1em !important;
    }
    .filter-option  select{
        width: 90% !important;
        font-size: 1em !important;
    }

    .filter-box{
        display: flex !important;
        flex-direction: column !important;
        height: 30em;
    }
    .filter-option{
        padding: 1.8em !important;
        border: none !important;
        border-bottom: 1px solid var(--color-primary) !important;
    }
    .filter-option:first-child{
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    .filter-option:nth-child(5){
        border: none !important;
        border-top-left-radius: 50px;
    }
    .filter-option:last-child{
        border-bottom: none !important;
        border-top-left-radius: 50px;
        border-top: 1px solid var(--color-primary) !important;

    }   
    .filter-option select, .filter-option input{
        width: 80%;
    }
}