.agents-edit-box{
    width: 100%;
}

.agents-edit-title{
    border-bottom: 3px solid var(--color-primary);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)), url("../img/scenery.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    padding: 2em 1em 1.5em 3.3em;
}

.agents-edit-title h2{
    color: white;
    font-weight: 500;
}

.agent-add-button{
    border: none;
    border-radius: 20px;
    padding: 1em;   
    /* box-shadow: -2px 0px 27px 7px rgba(171, 170, 171, 0.4); */
}
.agent-add-button:hover{
    background-color: rgb(186, 186, 186); 
}

.agent-edit-button{
    border: none;
    display: flex;
    justify-content: end;
    width: 2.4em;
}

.agent-edit-boxbutton{
    align-self: flex-start;
    display: flex;
    justify-content: flex-end;
    width: 23%;
}

@media(max-width: 1300px){
    .estate-agents{
        grid-template-columns: repeat(2,1fr) !important;
    }
}
@media(max-width: 840px) {
    .estate-agents{
        grid-template-columns: repeat(1,1fr) !important;
    }
    .agent-edit-boxbutton{
        width: 100%;
    }
}