.agents-edit-box{
    width: 100%;
}

.agents-edit-title{
    border-bottom: 5px solid var(--color-primary);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)), url("../img/scenery.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    padding: 2em 1em 1.5em 3.3em;
}

.agents-edit-title h2{
    color: white;
    font-weight: 500;
}

.agent-add-button{
    border: none;
    border-radius: 20px;
    padding: 1em;   
    /* box-shadow: -2px 0px 27px 7px rgba(171, 170, 171, 0.4); */
}
.agent-add-button:hover{
    background-color: rgb(186, 186, 186); 
}

.agent-edit-button{
    border: none;
}

.agent-edit-boxbutton{
    position: relative;
    top: -5em;
}
