.secondary-color {
  background-color: var(--color-primary);
}

.dark-blue-color {
  color: #263159;
  font-weight: 0;
}

body {
  overflow-x: hidden;
}

/* .contact-subheading{
  background-color: white;
} */

.main-contacts {
  flex-direction: row;
  gap: 4em;
}

.main-card {
  width: 25rem;
  background-color: #e4e4e4;
}

.card-button {
  padding: 0.8rem;
}

.card-button a {
  border: none;
  background-color: #e5cb82;
  color: #263159
}

.card-button a:hover {
  background-color: rgba(229, 203, 130, 0.8);
  color: #263159;
}

.image-icon-circle img {
  width: 6.5rem;
  height: 6.7rem;
  border-radius: 50%;
  border: 2px solid #263159;
}

.image-icon-circle {
  padding-left: 0.7em;
  padding-top: 0.8em;
  padding-bottom: 0.4em;
}

.title-space{
  height: 15%;
}
.main-contacts-space{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.contact-info {
  width: 100vw;
}

.subheading-1{
  background-color: var(--color-primary);
  box-shadow: -2px 0px 27px 7px rgba(209, 202, 209, 0.4);
}
.subheading-1 h2{
  color: rgb(58, 76, 83);
  font-family: light-font;
}

.agent{
  box-shadow: -2px 0px 27px 7px rgba(209, 202, 209, 0.4);
  border-radius: 20px;
  margin: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.agent-photo{
  width: 12em;
  height: 12em;
}
.agent-photo img{
  max-width: 100%;
  width: 12em;
  height: 12em;
  padding: 1em;
}

.estate-agents{
  grid-template-columns: repeat(3,1fr);
}

/* contacts media START */
@media(max-width: 1251.2px) {
  .main-card {
    width: 20rem;
    height: 20rem;
  }

  .main-card h4 {
    font-size: 1.2rem;
  }

  .main-card p {
    font-size: 1rem;
  }
}

@media(max-width: 1400.8px) {
  .main-contacts{
    gap: 0;
  }
  .main-profile-button{
    font-size: 1rem !important;
  }
}

@media(max-width: 1005.2px) {
  .main-card {
    width: 16rem;
    height: 18rem;
  }

  .main-card h4 {
    font-size: 1rem;
  }

  .main-card p {
    display: none;
  }

  .main-card a {
    font-size: 0.85rem;
    ;
  }
}

@media(max-width: 820px) {
  .main-card .image-icon-circle img {
    width: 5.5rem;
    height: 5rem;
  }

  .main-card {
    width: 14rem;
    height: 16rem;
  }
}

@media(max-width: 722.4px) {
  .main-card{
    width: 100%;
  }
}

@media(max-height: 400px) {

  .main-card .main-card-body p,
  .card-button {
    display: none;
  }
}

/* contacts media END */