.secondary-color {
  background-color: var(--color-primary);
}

.dark-blue-color {
  color: #263159;
  font-weight: 0;
}

body {
  overflow-x: hidden;
}

/* .contact-subheading{
  background-color: white;
} */

.main-card {
  width: 60rem;
  padding: 2em;
  background-color: #e4e4e4;
  border-radius: 20px;
}
.main-card-image{
  padding: 1em;
  border-right: 1px solid rgba(201,193,201,0.40);
}

.card-button {
  padding: 0.8rem;
}

.card-button a {
  border: none;
  background-color: #e5cb82;
  color: #263159
}

.card-button a:hover {
  background-color: rgba(229, 203, 130, 0.8);
  color: #263159;
}

.image-icon-circle img {
  width: 6.5rem;
  height: 6.7rem;
  border-radius: 50%;
  border: 2px solid #263159;
}

.image-icon-circle {
  padding-left: 0.7em;
  padding-top: 0.8em;
  padding-bottom: 0.4em;
}

.title-space{
  height: 15%;
}
.main-contacts-space{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.contact-info {
  width: 100vw;
}

.subheading-1{
  background-color: var(--color-primary);
  box-shadow: -2px 0px 27px 7px rgba(209, 202, 209, 0.4);
}
.subheading-1 h2{
  color: rgb(58, 76, 83);
  /* font-family: light-font; */
}

.agent{
  box-shadow: -2px 0px 27px 7px rgba(108, 103, 108, 0.4);
  /* background-color: var(--color-primary); */
  border-radius: 20px;
  margin: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.agent-photo{
  width: 12em;
  height: 12em;
}
.agent-photo img{
  max-width: 100%;
  width: 12em;
  height: 12em;
  padding: 1em;
}

.estate-agents{
  grid-template-columns: repeat(3,1fr);
}

/* contacts media START */
@media(max-width: 1100px){
  .main-card{
    width: 50em;
  }
}
@media (max-width: 910px) {
  .main-card{
    width: 40em;
  }
}
@media (max-width: 750px) {
  .main-card{
    width: 30em;
  }
}
@media(max-width: 570px){
  .main-card{
    width: 12em;
    width: 23em;
  }
  .main-card-image img{
    width: 8em;
  }
}

/* contacts media END */