.edit-profile-input {
    margin-left: 0.7em;
    border-radius: 5px;
    border: none;
}

.edit-profile-input:hover {
    background-color: rgba(196, 193, 196, 0.4);
}

.profile-title {
    justify-content: space-between;
}


.input-1 .edit-profile-input{
    width: calc(100% - 43.7px - 13.44px);
}
.input-2 .edit-profile-input{
    width: calc(100% - 87.6px - 13.44px);
}
.input-3 .edit-profile-input{
    width: calc(100% - 117.81px - 13.44px);
}
.input-4 .edit-profile-input{
    width: calc(100% - 71.31px - 13.44px);
}
.input-5 .edit-profile-input{
    width: calc(100% - 81.45px - 13.44px);
}
.input-6 .edit-profile-input{
    width: calc(100% - 96.6px - 13.44px);
}
.input-7 .edit-profile-input{
    width: calc(100% - 72.63px - 13.44px);
}


.profile-title .profile-title-buttons button {
    height: 70%;
    background-color: #e6e6e6;
    border: none;
    font-size: 0.6em;
    padding: 0em 1em 0em 1em;
    border-radius: 10px;
}

.profile-title .profile-title-buttons button:hover {
    background-color: rgb(180, 183, 180);
}
.edit-profile-bio{
    padding: 0;
}
.edit-profile-bio form{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;   
    align-items: center;
}
.edit-profile-bio textarea {
    resize: none;
    width: 80%;
    height: 70%;
    border: none;
    padding: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile-image div {
    display: none;
}

.edit-profile-image input {
    display: none;
}

.edit-profile-image label {
    cursor: pointer;
    background-color: var(--color-primary);
    padding: 0.3em;
    text-align: center;
}

#uploadPreview {
    width: 15em;
    height: 15em;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgba(196, 193, 196, 1);
}

.edit-profile-password-span {
    background-color: white;
    padding: 1em;
}

.change-password-area button {
    background-color: #d3d1d1;
    border-radius: 10px;
    width: 100%;
}

.change-password-area button a {
    color: black;
}



@media (max-width: 1350px) {
    .edit-profile-image {
        padding: 1em;
    }
    .button-popup{
        left: 20% !important;
        right: 20% !important;
    }
}

@media(max-width: 950px) {
    .profile-info {
        height: 40em !important;
    }
    .profile-title{
        height: 15%;
    }
    .details-space{
        height: 85%;
    }
    .button-popup{
        left: 10% !important;
        right: 10% !important;
    }
}

@media (max-width: 665px) {
    .profile-title{
        font-size: 1.4em;
    }
    .edit-profile-input{
        font-size: 0.9em;
    }
    .profile-box{
        padding: 1em !important;
    }
    .button-popup{
        left: 5% !important;
        right: 5% !important;
        text-align: center;
    }
}
@media(max-width: 500px){
    .edit-profile-input{
        width: 100% !important;
        margin-left: 0;
        margin-top: 1em;
    }
    .profile-title{
        height: 10%;
    }
    .details-space{
        height: 90%;
    }
    .profile-info{
        margin: 0;
        height: 60em !important;
    }
    .profile-box{
        padding: 0.5em !important;
    }
}
@media(max-width: 450px){
    .profile-title-buttons{
        display: flex;
        flex-direction: row;
        gap: 0.2em;
    }
}

/* button popup */

.button-popup{
    visibility: hidden;
    position: fixed;
    left: 30%;
    right: 30%;
    bottom: 30%;
    top: 30%;
    background-color: #e6e6e6;
    border-radius: 5px;
    z-index: 1;
}

.show {
    visibility: visible !important;
}

.deny-button, .add-form button{
    font-size: 0.64em;
    border: none;
    background-color: rgb(199, 203, 199);
    padding: 0.4em 0.8em 0.4em 0.8em;
    border-radius: 10px;
}
.deny-button:hover{
    background-color: rgb(230, 117, 117);
}
.add-form button:hover{
    background-color: rgb(112, 199, 112);
}
.add-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-buttons{
    gap: 0.5em;
    margin-top: 0.8em;
}

.page-mask {
    visibility: hidden;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 0;
  }
  



/* ako e nujno da stane edin form, tova e stila */

/*.info-form {
    grid-column: 1/4;
    grid-row: 1/4;
}

.profile-info {
    grid-column: 1/3 !important;
    grid-row: 1/3 !important;
    width: 60em; 
} 

.profile-bio {
    grid-column: 3/4 !important;
    grid-row: 2/3 !important;
    width: 29em;
    height: 13em;
    margin: auto;
}
.details-space{
    margin: 0;
} 

.edit-profile-image {
    grid-row: 1/2 !important;
    padding: 1em;
    width: 29em;
    height: 21em;
    margin-right: 1.7em;
} */