.finance-consulting-box{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5)), url("../img/scenery.jpg");
      background-size: cover;
      background-repeat: no-repeat;

}
.finance-consulting-title{
    color: white;
    font-size: 2.5em;
}