

.price-paragraph{
    font-size: 1.5rem;
}

input{
    outline: none !important;
    box-shadow: none !important;
}
input:focus{
    border: 1px solid black !important;
}

.filter-box{
    border: 1px solid grey;
    border-radius: 50px;
    box-shadow: -2px 0px 27px 7px rgba(201,193,201,0.40);
}