
.filter{
    background-color: var(--color-primary);
    
}
.price-paragraph{
    font-size: 1.5rem;
}

input{
    outline: none !important;
    box-shadow: none !important;
}
input:focus{
    border: 1px solid black !important;
}

.offer-img{
    width: 100%;
    height: 100%;
}

.offer-div{
    width: 25rem;
    height: 25rem;
}