 :root{
  --color-primary: #e5cb82e1;
  --color-beige: rgba(166, 166, 166, 0.3);
}

/*scrollbar*/

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* scrollbar */
.bordered{
  border: 1px solid black;

}
@font-face {
  font-family: title-font;
  src: url(/fonts/5-font.otf);
}

@font-face {
  font-family: normal-font;
  src: url(/fonts/30-font.ttf);
}

@font-face {
  font-family: light-font;
  src: url(/fonts/CormorantInfant-Regular.ttf);
}

.navbar-toggler{
  border: 1px solid black;
  margin-top: 0.4em;
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-toggler:hover{
  background-color: rgba(0, 0, 0, 0.075);
}

select{
  color: black !important;
}
select:focus{
  color: black !important;
}
a:hover{
  color: black !important;
}



* *::before,
*::after {
  box-sizing: border-box;
}

.ext {
  width: 10rem;

}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

h1{
  font-size: 4em;
}

nav{
  height: 80px;
}

nav .beige-background{
  height: 80px;
}

.nav-item button{
  font-size: 1.1em;
}

.main-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5)), url("../img/scenery.jpg");
  width: 100%;
  height: calc(100vh - 80px);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.centered {
  align-items: center;
  justify-content: center;

}

.logo {
  display: inline-block;
  width: 90px;
  height: 80%;
}

.search-button a{
  font-size: 0.85em;
}

.removed:hover {
  background-color:  rgba(166, 166, 166, 0.01) !important;
}

.removed{
  color: rgba(166, 166, 166, 0.8) !important;
}

.removed:active{
  background-color: rgba(166, 166, 166, 0.01);

}

.removed:focus{
  border: none;
}

.brand-div {
  border: none;
  height: 6rem;
}

.dropdown-style{
  padding: 0.8em;
  color: #505050;
}

a {
  text-decoration: none;
  color: #263159;
}

.blc:hover {
  background-color: rgba(0, 0, 0, 0.075);
}


.search-button{
  height: 2.5em;
  box-shadow: -2px 0px 27px 7px rgba(201,193,201,0.40);
}
.search-button:hover{
  background-color: #ccb473e1 !important;
}

.title-font{
  font-family: title-font;
}

.btn-marked {
  background-color: rgb(232, 204, 126);
}

.btn-marked:hover {
  background-color: var(--color-primary);
  color: black;
}

.beige-background {
  background: var(--color-beige);
}

.heading-style {
  font-family: title-font;
}

.primary-color {
  color: white;
}

.dark-grey-color {
  color: black;
}

.yellow-button{
  color: black;
}

.profile-icon{
  width: 1.6em;
  height: 1.6em;
  border: 1.2px solid rgba(72,73,81,255);
  border-radius: 50%;
  color: rgba(72,73,81,255);
}

.fa-search{
  color: rgba(72,73,81,255);
  font-size: 1.05em;
}

.collapse-user-icon{
  color: rgba(72,73,81,255);
  padding-right: 0.35em;
}

.profile-button{
  background: #d3d3d3;
}

.fa-user{
  font-size: 1.3em;
}
.services-nav li{
  background-color: #e9e9e9;
}
.services-nav{
  border-top: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}

/*heading media changes START*/
@media(max-width: 1140px){
  h1{
    font-size: 3rem;
  }
}
/*heading media changes END*/

/*nav-bar media changes START*/


@media(max-width: 767px){
  /* .fa-search{
    display: inline;
  } */
    .navbar .navbar-nav {
    width: 100%;
    flex-direction: row;
  }
}

/*nav-bar media changes END*/

@media(max-width: 400px){
  .yellow-button{
    width: 7em;
  }
}