 :root{
  --color-primary: #e5cb82e1;
  --color-beige: rgba(166, 166, 166, 0.3);
  
}

/*scrollbar*/

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* scrollbar */
.bordered{
  border: 1px solid black;

}
@font-face {
  font-family: title-font;
  src: url(/fonts/5-font.otf);
}

@font-face {
  font-family: normal-font;
  src: url(/fonts/30-font.ttf);
}

.navbar-toggler{
  border: 1px solid black;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 6rem;
  justify-content: center;
  align-items: center;
  
}

.navbar-toggler:hover{
  background-color: rgba(0, 0, 0, 0.075);
}





* *::before,
*::after {
  box-sizing: border-box;
}

.ext {
  width: 10rem;

}

body {
  margin: 0;
  padding: 0;
}

h1{
  font-size: 4em;
}


.main-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5)), url("../img/Начало 2.png");
  width: 100%;
  height: calc(100vh - 112px);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.centered {
  align-items: center;
  justify-content: center;

}

.logo {
  display: inline-block;
  width: 150px;
  height: 90%;

}

.removed:hover {
  background-color:  rgba(166, 166, 166, 0.01) !important;
  

}

.removed{
  color: rgba(166, 166, 166, 0.8) !important;
  
}

.removed:active{
  background-color: rgba(166, 166, 166, 0.01);

}

.removed:focus{
  border: none;
}

.brand-div {
  border: none;
  height: 7rem;
}

a {
  text-decoration: none;
  color: #263159;
}

.blc:hover {
  background-color: rgba(0, 0, 0, 0.075);

}
.search-button{
  height: 2.9em;
}
.title-font{
  font-family: title-font;
}
.btn-marked {
  background-color: var(--color-primary);
  
}

.btn-marked:hover {
  background-color: var(--color-primary);
  color: black;
}

.beige-background {
  background: var(--color-beige);
}

.heading-style {
  font-family: title-font;
}

.primary-color {
  color: white;
}
.dark-blue-color {
  color: #263159;
  font-weight: 0;
}
.profile-icon{
  width: 2em;
  height: 2em;
  border: 1.2px solid rgba(72,73,81,255);
  border-radius: 50%;
  color: rgba(72,73,81,255);
}
.fa-user{
  font-size: 1.5em;
}

/*heading media changes START*/
@media(max-width: 1140px){
  h1{
    font-size: 3rem;
  }
}
/*heading media changes END*/

/*nav-bar media changes START*/
@media(max-width: 1020px) {
  .btn {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
}

@media(max-width:900px) {
  .navbar .navbar-nav {
    width: 100%;
    flex-direction: row;
  }
  h1{
    font-size: 2.5rem;
  }
  ul .btn {
    font-size: 1.12rem;
    padding: 0.2rem;
  }
  form .btn{
    font-size: 1.14rem;
    padding: 0.3rem;
  }
}

/*nav-bar media changes END*/