 :root{
  --color-primary: #e5cb82e1;
  --color-beige: rgba(166, 166, 166, 0.3);
}

/*scrollbar*/

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* scrollbar */
.bordered{
  border: 1px solid black;

}
@font-face {
  font-family: title-font;
  src: url(/fonts/5-font.otf);
}

@font-face {
  font-family: normal-font;
  src: url(/fonts/30-font.ttf);
}

.navbar-toggler{
  border: 1px solid black;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 6rem;
  justify-content: center;
  align-items: center;
  
}

.navbar-toggler:hover{
  background-color: rgba(0, 0, 0, 0.075);
}





* *::before,
*::after {
  box-sizing: border-box;
}

.ext {
  width: 10rem;

}

body {
  margin: 0;
  padding: 0;
}

h1{
  font-size: 4em;
}

nav{
  height: 80px;
}

nav .beige-background{
  height: 80px;
}

.nav-item button{
  font-size: 1.1em;
}

.main-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5)), url("../img/scenery.jpg");
  width: 100%;
  height: calc(100vh - 80px);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.centered {
  align-items: center;
  justify-content: center;

}

.logo {
  display: inline-block;
  width: 90px;
  height: 80%;
}

.search-button a{
  font-size: 0.85em;
}

.removed:hover {
  background-color:  rgba(166, 166, 166, 0.01) !important;
  

}

.removed{
  color: rgba(166, 166, 166, 0.8) !important;
  
}

.removed:active{
  background-color: rgba(166, 166, 166, 0.01);

}

.removed:focus{
  border: none;
}

.brand-div {
  border: none;
  height: 6rem;
}

.dropdown-style{
  padding: 0.8em;
  color: #505050;
}

a {
  text-decoration: none;
  color: #263159;
}

.blc:hover {
  background-color: rgba(0, 0, 0, 0.075);

}

.search-button{
  height: 2.5em;
  box-shadow: -2px 0px 27px 7px rgba(201,193,201,0.40);
}

.title-font{
  font-family: title-font;
}

.btn-marked {
  background-color: var(--color-primary);  
}

.btn-marked:hover {
  background-color: var(--color-primary);
  color: black;
}

.beige-background {
  background: var(--color-beige);
}

.heading-style {
  font-family: title-font;
}

.primary-color {
  color: white;
}

.dark-grey-color {
  color: rgb(95, 87, 87);
}

.yellow-button{
  box-shadow: -2px 0px 27px 7px rgba(59, 57, 59, 0.4);
}

.profile-icon{
  width: 1.6em;
  height: 1.6em;
  border: 1.2px solid rgba(72,73,81,255);
  border-radius: 50%;
  color: rgba(72,73,81,255);
}

.fa-search{
  color: rgba(72,73,81,255);
  font-size: 1.05em;
}

.collapse-user-icon{
  color: rgba(72,73,81,255);
  padding-right: 0.35em;
}

.profile-button{
  background: #d3d3d3;
}

.fa-user{
  font-size: 1.3em;
}

/*heading media changes START*/
@media(max-width: 1140px){
  h1{
    font-size: 3rem;
  }
}
/*heading media changes END*/

/*nav-bar media changes START*/

@media(max-width:900px) {
  .navbar .navbar-nav {
    width: 100%;
    flex-direction: row;
  }
  h1{
    font-size: 2.5rem;
  }
  ul .btn {
    font-size: 1.12rem;
    padding: 0.2rem;
  }
  form .btn{
    font-size: 1.14rem;
    padding: 0.3rem;
  }
  .fa-search{
    display: none;
  }
}

@media(max-width: 767px){
  .fa-search{
    display: inline;
  }
}

/*nav-bar media changes END*/