.reg{
    /* width: 40rem; */
    width: 40%;
    background-color: #e4e4e4;
    box-shadow: 0 0 10px 5px rgba(38, 49, 89, 0.2);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

label{
    font-size: 1.25rem;
    
}
h2{
    font-size: 2.1rem;
}

.submit{    
    cursor: pointer;
    background-color: var(--color-primary);
}

.extra-pad{
    padding-top: 1.5rem;
}

@media(max-width: 900px){
    h2{
        font-size: 2rem;
    }
    label{
        font-size: 1.1rem;
    }
    .reg{
        width: 60%;
    }
}





