.reg{
    /* width: 40rem; */
    width: 35em;
    height: 27em;
    background-color: #e4e4e4;
    box-shadow: 0 0 10px 5px rgba(38, 49, 89, 0.2);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    /* position: fixed;
    right: 30%;
    left: 30%; */
}

label{
    font-size: 1.25rem;
    
}
h2{
    font-size: 2.1rem;
}
input[type="text"], input[type="password"]{
    background-color: transparent;
    width: 90%;
    display: inline;
}

input:focus{
    outline: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

input::selection {
    border: none !important;
}


.password-area{
    border-bottom: 1px solid black;
}

.label-area{
    border-bottom: 1px solid black;
}

input:active{
    background: transparent;
}

.password-area button{
    position: relative;
    display: inline;
    width: 9%;
    font-size: 1.7em;
    color: #8f9ba7;
    border: none;
    background: transparent;
}

.submit{    
    cursor: pointer;
    background-color: var(--color-primary);
    
}

.submit:hover{
    background-color: var(--color-primary) !important;

}

@media(max-width: 900px){
    h2{
        font-size: 2rem;
    }
    label{
        font-size: 1.1rem;
    }
    .reg{
        width: 60%;
    }
}





