/* body{
    
} */

.profile-box{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.5)), url("../img/scenery.jpg");
    height: calc(100vh);
}

.profile-layout{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 90%;
    gap: 1em;
}
.grid-item:first-child{
    background-color: white;
    grid-column: 1 / 3;
    grid-row: 1 / 4;
}
.grid-item:nth-child(2){
    background-color: white;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}
.grid-item:nth-child(3){
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.profile-info{
    border-radius: 20px;
    /* box-shadow: -2px 0px 27px 7px rgba(196, 193, 196, 0.4); */
}

.profile-title{
    background-color: rgba(196, 193, 196, 0.4);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 1.4em;
    padding: 0.7em;
}
.profile-subtitle p{
    font-size: 1.1em;
}

.profile-image{
    border-radius: 20px;
}
.profile-image div{
    background-image: url(/img/personExample.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 15em;
    height: 15em;
    border: 2px solid rgba(196, 193, 196, 0.4);
}

.notice-button, .edit-button{
    width: 50%;
    padding-left: 2em;
}
.notice-button button, .edit-button button{
    border-radius: 20px;
    height: 3em;
    border: none !important;
    /* box-shadow: -2px 0px 27px 7px rgba(196, 193, 196, 0.4); */
}
.notice-button:hover, .edit-button:hover{
    background-color: rgb(223, 218, 223);
}
.notice-button:hover button, .edit-button:hover button{
    background-color: rgb(223, 218, 223);
}
.profile-buttons{
    border-top: 1px solid rgba(196, 193, 196, 0.4);
}
.profile-buttons div{
    background-color: #f0f0f0;
    width: 100%;
    border-radius: 20px;
}

.details-space{
    height: 85%;
}

.profile-bio{
    background-color: #e4e4e4;
}

.profile-input{
    /* background-color: rgba(196, 193, 196, 0.2); */
    padding: 0.6em;
    border-bottom: 1px solid var(--color-primary);
}



